<%-include("../partials/header")%>
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Our Team Of Agents</h1>
              <p class="lead">We have Blah blah blah best agents blah blah blah</p>
              <a href="#" class="btn btn-primary btn-lg">Register as Agent</a>
              <a href="/Agent/login" class="btn btn-primary btn-lg">Login</a>
            </div>
          </div>  
<div class="container">
    <div class="row">
        <%var k=0%>
        <%for(var i=0;i<Agents.length;i++){%>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="<%=Agents[i].Agent_img_link%>" alt="Card image cap"
                    style="height: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Name: <span id=AgentName><%=Agents[i].Name%></span></h5>
                    <p class="card-text"><strong>Joining Date </strong><%=Agents[i].Agent_Joining_Date%></p>
                    <p><strong>Contact: </strong>
                    <%if(Agents[i].Agent_ID===phno[k].Agent_ID){%>
                        <%while(Agents[i].Agent_ID===phno[k].Agent_ID){%>
                            <p><%=phno[k].Phone_Number%> </p>
                            <%k++%> 
                            <%if(k>=phno.length) break;}%>
                    <%}else{%>
                        Not been Provided by this Agent
                    <%}%>
                    </p>
            </div>
        </div>
       </div>
      <%}%>
        </div>
     </div>
<%-include("../partials/footer")%>